<a href="https://colab.research.google.com/github/JCaballerot/Programacion_en_Python/blob/main/Modulo2/Estructuras_selectivas_repetitivas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>UNIDAD II - ESTRUCTURAS SELECTIVAS Y REPETITIVAS
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Introducción al entorno Python</a>  
2. <a href="#item31">Sentencias IF</a>  
3. <a href="#item31">Sentencias While</a>  
4. <a href="#item31">Sentencias For</a>  

</font>
</div>

---

#1. Introducción al entorno Python

### Verificando la versión de Python

In [ ]:
!python3

### Ejecutando en Python

In [ ]:
print("Hello Python interpreter!")

### Variables en Python

In [ ]:
message = "Hello Python world!"
print(message)

### Usando variables con strings

In [ ]:
first_name = "John"
last_name = "Caballero"

full_name = f"{first_name} {last_name}"
print(full_name)

In [ ]:
first_name = str(input('Ingrese el primer nombre: '))
last_name = str(input('Ingrese el apellido: '))

full_name = f"{first_name} {last_name}"
print(f"Bienvenido {full_name}!")

In [ ]:
print(f"Hola, {full_name.title()}!")

In [ ]:
message = f"Hola, {full_name.title()}!"
print(message)

In [ ]:
print("Python")

In [ ]:
print("Python's")

In [ ]:
print("\tPython")

In [ ]:
print("Languages:\nPython\nC\nJavaScript")

In [ ]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

### Espacios en python

In [ ]:
favorite_language = 'python '
favorite_language

In [ ]:
favorite_language.rstrip()

In [ ]:
favorite_language

In [ ]:
favorite_language = 'python '
favorite_language = favorite_language.rstrip()
favorite_language

In [ ]:
favorite_language = ' python '
favorite_language

In [ ]:
favorite_language.rstrip()

In [ ]:
favorite_language.lstrip()

In [ ]:
favorite_language.strip()

### Problemas comunes

In [ ]:
message = "El libro 'Harry Potter' fue un best seller"
print(message)

In [ ]:
message = 'One of Python's strengths is its diverse community.'
print(message)

### Números

In [ ]:
2 + 3

In [ ]:
3 ** 2

In [ ]:
(2 + 3) * 4

### Floats

In [ ]:
0.1 + 0.1

In [ ]:
2 * 0.2

In [ ]:
0.2 + 0.1

### Enteros y Floats

In [ ]:
4/2

In [ ]:
1 + 2.0

In [ ]:
1*3.0

### Guiones bajos en números

In [ ]:
universe_age = 14_000_000_000
print(universe_age)

### Asignación Múltiple

In [ ]:
a, b = 1, 2
b

In [ ]:
x, y, z = 0, 0, 0

In [ ]:
y

### Constantes

In [ ]:
MAX_CONNECTIONS = 5000

<b> Ejercicio </b>

Usa una variable para representar un número. Luego, usando esa variable, cree un mensaje que revele su número. Imprime ese mensaje.

Doble-click __aquí__ para ver la solución.
<!-- La respuesta es:
num = 12
print(f"El número es {num}")
-->

### Comentarios

In [ ]:
# Código para saludar.
print("Hola programadores de Python!")

### El Zen de Python

In [ ]:
import this

### Introducción a listas

In [ ]:
import numpy as np
np.array([1, 2, 3])

array([1, 2, 3])

In [ ]:
#          index.    0         1        2.       3
#          index    -4        -3       -2       -1
lista_compras = ['harina', 'huevos', 'palta', 'galletas', 'manzanas', 'arroz']

In [ ]:
lista_compras[1]

'huevos'

In [ ]:
lista_compras[0]

'harina'

In [ ]:
lista_compras[0:3]

['harina', 'huevos', 'palta']

In [ ]:
lista_compras[1:3]

['huevos', 'palta']

In [ ]:
lista_compras[1:]

['huevos', 'palta', 'galletas']

In [ ]:
[lista_compras[0]].append([lista_compras[2]])

In [ ]:
lista_compras

['harina', 'huevos', 'palta', 'galletas', 'manzanas', 'arroz']

In [ ]:
# prompt: extrae los elementos de index 1 y 3 de una lista dentro de una lista, usa slicing
lista_compras[0:5:2]

['harina', 'palta', 'manzanas']

In [ ]:
[lista_compras[0], lista_compras[2]]

['harina', 'palta']

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6]]

In [ ]:
my_list[0][1]

2

In [ ]:
a = ['John', 'Ricardo', 'Marcelo', 'Heidy', 'Nataly']
a

['John', 'Ricardo', 'Marcelo', 'Heidy', 'Nataly']

In [ ]:
a = [1, 10, 4, 5, 99.0]
a

[1, 10, 4, 5, 99.0]

In [ ]:
a = [1, 10, 4, 5, 'Nataly']
a

[1, 10, 4, 5, 'Nataly']

In [ ]:
a[0:2]

[1, 10]

In [ ]:
a = [1, 10, 4, 5, None]
a

[1, 10, 4, 5, None]

In [ ]:
my_null_list = [None, None, None, None]

In [ ]:
print(my_null_list[2])

None

In [ ]:
a = [1, 10, 4, 5, [2, 3, 8]]
a

In [ ]:
a[0]

In [ ]:
a[3]

In [ ]:
a[4][1]

In [ ]:
range(inicio, final + 1)

In [ ]:
range(1, 10+1)

range(1, 11)

In [ ]:
1, 2, 3, 4, 5, 6, 7, 8, 9, 10

**Ejercicio**

Preguntele al usuario su edad, universidad y distrito de vivienda y almacene el resultado en una lista. Finalmente agradezca al usuario y termine el programa.

In [ ]:


name = input('Hola, Ingresa tu nombre: ')
age = int(input('Por favor, ingresa tu edad: '))
district = input('Ingresa el distrito donde vives: ')

list_info = [name, age, district]

print(f'muchas gracias por tu ayuda {name}')

Hola, Ingresa tu nombre: John
Por favor, ingresa tu edad: 32
Ingresa el distrito donde vives: San Isidro
muchas gracias por tu ayuda John

In [ ]:
data_base = []

In [ ]:

name = input('Hola, Ingresa tu nombre: ')
age = int(input('Por favor, ingresa tu edad: '))
district = input('Ingresa el distrito donde vives: ')

list_info = [name, age, district]

data_base.append(list_info)

print(f'muchas gracias por tu ayuda {name}')

Hola, Ingresa tu nombre: a
Por favor, ingresa tu edad: 12
Ingresa el distrito donde vives: b
muchas gracias por tu ayuda a

In [ ]:
x

NameError: name 'x' is not defined

In [ ]:
x = 15
y = 9
z = -15

In [ ]:

lista = [x, y, z]

x = 1
y = 2
z = 12

In [ ]:
lista

[15, 9, -15]

In [ ]:
data_base

[['Luis', 19, 'La Molina'], ['Bryan', 28, 'Surco']]

In [ ]:
print(f'muchas gracias por tu ayuda {name}')

muchas gracias por tu ayuda a

In [ ]:
import pandas as pd
pd.DataFrame({'datos' : list_info})

        datos
0        John
1          32
2  San Isidro

# 2. Sentencias IF

In [ ]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

### Igualdades

In [ ]:
1 = 2

In [ ]:
1 == 2

In [ ]:
2 == 2

In [ ]:
2 == 2.0

In [ ]:
car = 'bmw'
car == 'bmw'

In [ ]:
car = 'audi'
car == 'bmw'

Ignorando Mayusculas en igualdades

In [ ]:
car = 'Audi'
car == 'audi'

In [ ]:
car.lower()

In [ ]:
car.upper()

In [ ]:
car = 'Audi'
car.lower() == 'audi'

### Desigualdades

In [ ]:
1 != 2

In [ ]:
'Audi' != 'audi'

In [ ]:
2 != 2.0

In [ ]:
requested_topping = 'champiñones'

if requested_topping != 'Anchoas':
  print("Sostén las Anchoas!")

### Comparar Números

In [ ]:
age = 18
age == 18

In [ ]:
answer = 17

if answer != 42:
  print("Respuesta incorrecta, intenta nuevamente!")

In [ ]:
answer = int(input('Ingrese su respuesta: '))

if answer != 42:
  print("Respuesta incorrecta, intenta nuevamente!")

In [ ]:
age = 19
age < 21

In [ ]:
age <= 21

In [ ]:
age > 21

In [ ]:
age >= 21

### Condicionales múltiples

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

In [ ]:
age_1 = 22
age_0 >= 21 and age_1 >= 21

In [ ]:
(age_0 >= 21) and (age_1 >= 21)

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21

In [ ]:
age_0 = 18
age_0 >= 21 or age_1 >= 21

### Comprobar si un valor está en una lista

In [ ]:
my_list = ['Aaron', 'Edwin', 'Brandon', 'Carlos']

'John' in my_list

False

In [ ]:
lenguages = ['R', 'Python', 'C']
lenguages

In [ ]:
lenguages = ['R', 'Python', 'C']
'Python' in lenguages

In [ ]:
'Java' in lenguages

### Comprobar si un valor no está en una lista

In [ ]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'

if user not in banned_users:
  print(f"{user.title()}, no se encuentra en la lista de no deseados.")

In [ ]:
banned_users = ['andrew', 'carolina', 'david']
user = str(input('Escriba su primer nombre '))

if user not in banned_users:
  print(f"{user.title()}, no se encuentra en la lista de no deseados.")

In [ ]:
a = int(input('escribe un número: '))

In [ ]:
a

### Condicionales

In [ ]:
game_active = True
can_edit = False

In [ ]:
car = 'subaru'
print("Is car == 'subaru'? I predict True.")
print(car == 'subaru')

print("\nIs car == 'audi'? I predict False.")
print(car == 'audi')

### Sentencias simples con IF

In [ ]:
age = 19
if age >= 18:
  print("Ya tienes edad suficiente para votar!")

In [ ]:
age = 19
if age >= 18:
  print("Ya tienes edad suficiente para votar!")
  print("Todavía no te has registrado?")

### Sentencias else-IF

In [ ]:
age = 17
if age >= 18:
  print("Ya tienes edad suficiente para votar!")
  print("Todavía no te has registrado?")
else:
  print("Lo sentimos, eres muy joven para votar!")
  print("Por favor registrate cuando cumplas 18!")

In [ ]:
age = 12

if age < 4:
  print("Your admission cost is $0.")
elif age < 18:
  print("Your admission cost is $25.")
else:
  print("Your admission cost is $40.")

In [ ]:
age = 12

if age < 4:
  price = 0
elif age < 18:
  price = 25
else:
  price = 40

print(f"Your admission cost is ${price}.")

### Múltiples bloques

In [ ]:
age = 12

if age < 4:
  price = 0
elif age < 18:
  price = 25
elif age < 65:
  price = 40
else:
  price = 20

print(f"Your admission cost is ${price}.")

### Ignorando el bloque else

In [ ]:
age = 12

if age < 4:
  price = 0
elif age < 18:
  price = 25
elif age < 65:
  price = 40
elif age >= 65:
  price = 20

print(f"Your admission cost is ${price}.")

### Probando múltiples condiciones

In [ ]:
requested_toppings = ['mushrooms', 'extra cheese']

if 'mushrooms' in requested_toppings:
  print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
  print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
  print("Adding extra cheese.")

print("\nFinished making your pizza!")

In [ ]:
num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))

if num1 > num2:
  print('num1 es mayor')
else:
  print('num2 es mayor')

<b> Ejercicio 1</b>

Imagina que un extraterrestre acaba de ser derribado en un juego. Cree una variable llamada alien_color y asígnele un valor de 'verde', 'amarillo' o 'rojo'.

Escribe una declaración if para probar si el color del extraterrestre es verde. Si es así, imprime un mensaje de que el jugador acaba de ganar 5 puntos.

<b> Ejercicio 2</b>

Elija un color para un extraterrestre como lo hizo en el Ejercicio anterior y escriba una cadena if-else.

Si el alienígena es verde, imprime un mensaje de que el jugador obtuvo 5 puntos.
Si el alienígena es amarillo, imprime un mensaje de que el jugador obtuvo 10 puntos.
Si el alienígena es rojo, imprime un mensaje de que el jugador obtuvo 15 puntos.

<b>Ejercicio</b>

Pregunte al usuario su edad, si esta es mayor igual a 18 años, imprima un mensaje que indique que puede votar, si la presona es menor que 18 años ,imprima un mensaje de que aun no cumple mayoría de edad, finalmente si la persona supera los 65 años, imprima un mensaje de que supera el umbral de edad para votar.

Extra: A las personas que sean aptas para votar preguntele su candidato y guadelo en una lista la cual se imprimirá el finalizar el programa.

# Sentencias While

In [ ]:
i = 0

while i < 10:
  print(i)
  i += 1  #i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0

while i in range(0, 10):
  print(i)
  i += 1  #i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i

10

In [ ]:
current_number = 1
while current_number <= 5:
    print(current_number)
    current_number += 1

1
2
3
4
5

**Ejecicio**

Imprima todos los números múltiplos de 7 menores que 100 usando un bucle de tipo while.

In [ ]:
import time

In [ ]:
var = time.time()

In [ ]:
var2 = time.time()

In [ ]:
var2 - var

10.879948377609253

In [ ]:
20 % 2

0

In [ ]:
start = time.time()
a = 0
while a < 100_000_000:
  if a % 7 == 0:
    1
    #print(a)
  a += 1
elapsed = time.time() - start
print(f'process elapsed {elapsed} seconds')

process elapsed 20.165672540664673 seconds

In [ ]:
start = time.time()
a = 0
while a*7 < 100_000_000:
  #print(a*7)
  a += 1
elapsed = time.time() - start
print(f'process elapsed {elapsed} seconds')

process elapsed 3.108855962753296 seconds

In [ ]:
%%time
a = 0
while a*7 < 100_000_000:
  #print(a*7)
  a += 1

CPU times: user 1.98 s, sys: 3.4 ms, total: 1.98 s
Wall time: 1.99 s

In [ ]:
3/20

0.15

In [ ]:
prompt = "\nDime algo y lo repetire:"
prompt += "\nEscribe 'salir' para finalizar. "

message = ""

while message != 'salir':
  message = input(prompt)
  print(message)

Dime algo y lo repetire:
Escribe 'salir' para finalizar. hola
hola

Dime algo y lo repetire:
Escribe 'salir' para finalizar. hi
hi

Dime algo y lo repetire:
Escribe 'salir' para finalizar. salir
salir

### Usado una constante

In [ ]:
active = True
while active:
  message = input("\nDime algo y lo repetire: \nEscribe 'salir' para finalizar. ")
  if message.lower() == 'salir':
    active = False
  else:
    print(message)

Dime algo y lo repetire:
Escribe 'salir' para finalizar. saliR

**Ejercicio**

Desarrolle un programa que calcule si un número es múltiplo de 7 y que imprima un mensaje de confirmación o caso contrario indique el residuo. Este programa debe permanecer activo hasta que el usuario decida salir. Finalmente al finalizar el programa indique al usuario el tiempo que permaneció activo.

In [ ]:

%%time
active = True
while active:
  num = input('Ingrese un número o escriba salir para terminar el programa: ')
  if num.lower() == 'salir':
    active = False
    print('programa finalizado')
  elif int(num) % 7 == 0:
    print(f'{num} es múltiplo de 7')
  else:
    print(f'{num} no es múltiplo de 7, el residuo es {int(num) % 7}')

Ingrese un número o escriba salir para terminar el programa: salir
programa finalizado
CPU times: user 65.3 ms, sys: 7.5 ms, total: 72.8 ms
Wall time: 3.58 s

In [ ]:
active = True
while active:
  message = input(prompt)

  if message == 'salir':
    active = False
  else:
    print(message)

### Break

In [ ]:

%%time

while True:
  num = input('Ingrese un número o escriba salir para terminar el programa: ')
  if num.lower() == 'salir':
    break

  try:
    if int(num) % 7 == 0:
      print(f'{num} es múltiplo de 7')
    else:
      print(f'{num} no es múltiplo de 7, el residuo es {int(num) % 7}')

  except:
    print('Opción ingresada incorrecta')
    continue

Ingrese un número o escriba salir para terminar el programa: hola
Opción ingresada incorrecta
Ingrese un número o escriba salir para terminar el programa: salir
CPU times: user 469 ms, sys: 69.3 ms, total: 538 ms
Wall time: 24.8 s

### Continue

In [ ]:
prompt = 'Ingrese el nombre de una ciudad o salir para terminar el programa: '

while True:
       city = input(prompt)

       if city == 'salir':
           break
           print('esta es una prueba')
       else:
           print(f"Me encantaría ir a {city.title()}!")

In [ ]:
current_number = 0

while current_number < 10:
  current_number += 1
  if current_number % 2 == 0:
    continue
  print(current_number)

1
3
5
7
9

In [ ]:
current_number = 0

while current_number < 10:
  current_number += 1
  if current_number % 2 == 0:
    continue
  print(current_number)

1
3
5
7
9

### Evitando Loops infinitos

In [ ]:
x = 1
while x <= 5:
    print(x)
    x += 1

In [ ]:
# This loop runs forever!
x = 1
while x <= 5:
    print(x)

<b> Ejercicio 1</b>

Escriba un ciclo que solicite al usuario que ingrese una serie de ingredientes para la pizza hasta que ingrese un valor de 'salir'. A medida que ingresen cada ingrediente, imprima un mensaje que diga que agregará ese ingrediente a su pizza.

<b> Ejercicio 2</b>

Un cine cobra diferentes precios de boletos dependiendo de la edad de una persona. Si una persona es menor de 3 años, la entrada es gratuita; si son entre 3 y 12, el boleto cuesta s/. 10; y si son mayores de 12 años, el boleto cuesta s/. 15. Escriba un ciclo en el que pregunte a los usuarios su edad y luego dígales el costo de su boleto de cine.

# 3. Sentencia For

In [ ]:

lista = ['John', 'Carlos', 'Jose']

for name in lista:
  print(f'Bienvenido {name}')

print('gracias por asistir!')

Bienvenido John
Bienvenido Carlos
Bienvenido Jose
gracias por asistir!

In [ ]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [ ]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [ ]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

### Olvidando la identación

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)

IndentationError: expected an indented block after 'for' statement on line 2 (<ipython-input-76-bc3e0c643e2b>, line 3)

**Ejercicio**

Imprima todos los números múltiplos de 7 menores que 100.

In [ ]:
var = 'Java'
var in ['R', 'Python', 'Spark']

False

In [ ]:
var = 2
var in range(0, 9)

True

In [ ]:
for name in ['R', 'Python', 'Spark']:

In [ ]:

for num in range(0, 100):
  if num % 7 == 0:
    print(f'{num} es múltiplo de 7')

0 es múltiplo de 7
7 es múltiplo de 7
14 es múltiplo de 7
21 es múltiplo de 7
28 es múltiplo de 7
35 es múltiplo de 7
42 es múltiplo de 7
49 es múltiplo de 7
56 es múltiplo de 7
63 es múltiplo de 7
70 es múltiplo de 7
77 es múltiplo de 7
84 es múltiplo de 7
91 es múltiplo de 7
98 es múltiplo de 7

**Ejercicio**

Almacene en una lista todos los números múltiplos de 7 menores que 100. Luego imprima esa lista

In [ ]:
1 % 7

1

In [ ]:
lista = []

for num in range(0, 100):
  if num % 7 == 0:
    lista.append(num)
print(lista)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**Ejercicio**

Desarrolle un algoritmo que calcule los múltiplos de un número que esten contenidos entre el 0 y n. Almacene en una lista todos esos números  y luego imprima esa lista

*Nota: los datos ingresados por el usuario serán:*

> n: número límite a evaluar

> x: el multiplo a evaluar

In [ ]:

n = int(input('Ingrese el número límite a evaluar: '))
x = int(input('Ingrese el múltiplo a evaluar: '))

lista = []

for num in range(0, n + 1):
  if num % x == 0:
    lista.append(num)
print(lista)

Ingrese el número límite a evaluar: 100
Ingrese el múltiplo a evaluar: 13

8

In [ ]:

n = int(input('Ingrese el número límite a evaluar: '))
x = int(input('Ingrese el múltiplo a evaluar: '))

lista = []

for num in range(0, n + 1):
  if num % x == 0:
    lista.append(num)

len(lista)

<b> Ejercicio 1</b>


Piensa en al menos tres tipos de tu pizza favorita. Almacene estos nombres de pizza en una lista y luego use un ciclo for para imprimir el nombre de cada pizza.

Modifique su ciclo for para imprimir una oración usando el nombre de la pizza en lugar de imprimir solo el nombre de la pizza. Para cada pizza, debe tener una línea de salida que contenga una declaración simple como Me gusta la pizza de pepperoni.
Agregue una línea al final de su programa, fuera del bucle for, que indique cuánto le gusta la pizza. El resultado debe constar de tres o más líneas sobre los tipos de pizza que te gustan y luego una oración adicional, como ¡Me encanta la pizza!

<b> Ejercicio 2</b>

Piensa en al menos tres animales diferentes que tengan una característica común. Guarde los nombres de estos animales en una lista y luego use un ciclo for para imprimir el nombre de cada animal.

Modifique su programa para imprimir una declaración sobre cada animal, como Un perro sería una gran mascota.
Agregue una línea al final de su programa indicando lo que estos animales tienen en común. Podría escribir una oración como ¡Cualquiera de estos animales sería una gran mascota!

#List Comprehesion

In [ ]:
[x for x in range(0, 10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[x**2 for x in range(0, 11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x**2 + x for x in range(0, 1000) if x % 7 == 0]

In [ ]:
%%time
var = [a for a in range(0, 100_000_000 + 1) if a % 7 == 0]

CPU times: user 7.25 s, sys: 674 ms, total: 7.92 s
Wall time: 7.95 s

In [ ]:
# prompt: calcula cuantos cpus disponibles hay para paralelizar
!nproc

2

In [ ]:
import os
cpus_disponibles = os.cpu_count()
print(f"Número de CPUs disponibles: {cpus_disponibles}")

Número de CPUs disponibles: 2

In [28]:
n = 10
[x for x in range(0, n + 1)]
#[0 - 11>

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
x = 0
while x < 10:
  x += 1

In [34]:
%%time
i = 0
while i < 10_000_000:
  i += 1  #i = i + 1

CPU times: user 1.07 s, sys: 171 µs, total: 1.07 s
Wall time: 1.07 s

In [35]:
%%time
i = 0
while i in range(0, 10_000_000):
  i += 1  #i = i + 1

CPU times: user 5.07 s, sys: 0 ns, total: 5.07 s
Wall time: 5.16 s

In [2]:

 [x**2 for x in range(0, 101) if x <= 20]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [3]:
100/5

20.0

In [16]:

mini_batchs = 5
start = 0
end   = 100
list_results = []

i = start

while i < end:
  rango = range(i, int(i + end/mini_batchs))
  list_results += [x**2 for x in rango]
  i += int(end/mini_batchs)
  print(f'group {i}/{end} processed')

group 20/100 processed
group 40/100 processed
group 60/100 processed
group 80/100 processed
group 100/100 processed

In [ ]:
list_results

**Ejercicio**

Un docente tiene la nota de n estudiantes en dos cursos diferentes (Programación y estadística). Desarrolle un algoritmo que calcule de forma iterativa el promedio de notas para cada estudiante.

In [17]:
names = ['Anthony', 'Bryan', 'Carlos', 'Christian', 'Eddy']

for name in names:
  print(f'{name} esta en la clase!')

Anthony esta en la clase!
Bryan esta en la clase!
Carlos esta en la clase!
Christian esta en la clase!
Eddy esta en la clase!

In [ ]:
# prompt: obtener el orden de un elemento en una lista

print(names.index('Eddy'))

In [21]:
names.index('Bryan')

1

In [25]:
program_grades = [18, 19, 17, 18, 20]
program_grades[1]

19

In [26]:
names = ['Anthony', 'Bryan', 'Carlos', 'Christian', 'Eddy']
program_grades = [18, 19, 17, 18, 20]

for name in names:
  print(f'{name} obtuvo {program_grades[names.index(name)]} en el curso de programación')

Anthony obtuvo 18 en programación
Bryan obtuvo 19 en programación
Carlos obtuvo 17 en programación
Christian obtuvo 18 en programación
Eddy obtuvo 20 en programación

---

# Gracias por completar este laboratorio!

---